/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "ProximaNova";
  src: url("assets/fonts/proximanova-regular-webfont.ttf");
}

body {
  margin: 0;
  padding: 0;
}

*:not(mat-icon) {
  font-family: "ProximaNova" !important;
}
